<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="authors"
      content="Shayera Georgette P. Lao and Adrianna Doutzen D. Pena"
    />
    <meta name="description" content="A virtual pet" />
    <meta name="keywords" content="pet, pixel, digital, virtual" />
    <title>Pixel Pets</title>
    <link href="about.css" rel="stylesheet" type="text/css" />
    <link href="menu.css" rel="stylesheet" type="text/css" />
    <link
      rel="icon"
      type="ico"
      href="https://cdn.glitch.global/e762b74c-b350-47a2-9477-8738e57d1aae/favicon%20(1).ico?v=1734167276918"
    />
    <script defer src="script.js"></script>
    </head>
  <div class="back"></div>
  <nav>
      <ul class="sidebar" id = "mySidebar">
        <li onclick= "hideMenu()"><a href = "#" class = "menu"><img src="https://cdn.glitch.global/e762b74c-b350-47a2-9477-8738e57d1aae/close_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg?v=1733582500715" style="height=26px; viewbox=0px 96px 960px 960px; width=48px"></a></li>
        <li><a href = "/" class = "menu">Home</a></li>
        <li><a href = "/sudoku" class = "menu">Sudoku</a></li>
        <li><a href = "/sleep" class = "menu">Sleep</a></li>
        <li><a href = "/about" class = "menu">About</a></li>
        <li><a href="/logout" class="menu">Logout</a></li>
        
      </ul>
      <ul>
        <li onclick= "showMenu()"><a href="#" class = "menu"><img src = "https://cdn.glitch.global/e762b74c-b350-47a2-9477-8738e57d1aae/menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg?v=1733576446294" style="height:26px; viewbox:0px 96px 960px 960px; width:48px"></a></li>
      </ul>
     
    </nav>
    
    <script>
      function showMenu() {
        document.getElementById("mySidebar").style.display = 'flex';
        //const menu = document.querySelector('.sidebar');
        //sidebar.style.display = 'flex';
      }
      function hideMenu() {
        document.getElementById("mySidebar").style.display = 'none';
        //const menu = document.querySelector('.sidebar');
        //sidebar.style.display = 'none';
      }
    </script>
  
  <header>
      <h1>Pixel Pets</h1>
      <h>By Shayera Lao &amp Adrianna Pe&ntildea</h>
  </header>
  
  <br>
  
  <img src= "https://cdn.glitch.global/7e443b07-ef1f-47cb-94fc-116ae020bbae/Screenshot%202024-12-23%20at%204.32.58%E2%80%AFPM.png?v=1734943037785" width="100" height="100" class="abt">
  
  <br>
  
  <p>Pixel Pets is a website where 
    you can design and care for your very own virtual pet. You can dress them, play with them, and even create your own room for them! Your pet keeps you entertained while doing requirements or surfing the web. If you can't have a real pet, try Pixel Pets!</p>
  
  <br>
  <br>
  <header>
  <h1>The Creators</h1>
  </header>
  <br>
    
<br>
  <table>
    
    <th><h>Shaya Lao</h></th>
    <tr>
      <td><img src = "https://cdn.glitch.global/7e443b07-ef1f-47cb-94fc-116ae020bbae/shaya.jpg?v=1738723725906" class= "ppl"></td>
      <td><a>Pre-pandemic I was a big fan of using gacha life and watching videos related to it. Being able to make a website that has similar features to my childhood game feels very nostalgic. Our website also has a mini game like sudoku, however since our characters are pets, we added a 'Sleep' webpage for the pets to rest. I believe that our website being able to incorporate the concept of another game and add our own unique aspects enhances our creativity that will hopefully help us throughout the rest of the project.</a></td>
    </tr>
    
    
    <th><h>Addie Peña</h></th>
    <tr>
      <td><img src = "https://cdn.glitch.global/7e443b07-ef1f-47cb-94fc-116ae020bbae/addie.jpg?v=1738723397461" class= "ppl"></td>
      <td><a>Growing up, I always wanted a dog, but I was never able to have one. So instead, I downloaded almost every virtual pet app you could get.
        Creating Pixel Pets was like revisiting my childhood, and more importantly, giving the chance for other kids (or adults) who can't get a pet to experience it virtually.
        </a></td>
    </tr>
  </table>
  
  
   
  
 
    </html>
